*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;

}

body{
  --hue: var(--hue-neutral);
  /* background-image: url("jorge-fernandez-wH3YxJwMC5o-unsplash.jpg"); */
  border: 25px solid black;

  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}
body.wrong {
  --hue: var(--hue-wrong);
}
.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btnGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
.btn {
  --hue: var(--hue-neutral);
  border: 4px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}
.btn:hover {
  border-color: black;
}
.btn.correct {
  --hue: var(--hue-correct); 
  color: black;
}
.btn.wrong{
  --hue: var(--hue-wrong); 
}

.startBtn, .nextBtn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 30px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide{
  display: none;
  
}
#home{
  position:fixed;
  top:5%;
  right: 5%;
  padding: 15px 20px;
  

}
#restartbtn{
  position:fixed;
  top:14%;
  right: 5%;
  --hue: var(--hue-neutral);
  border: 4px solid hsl(var(--hue), 100%, 30%);
  background-color: #00ff6a;
  border-radius: 5px;
  padding: 15px 20px;
  color: black;
  outline: none;
  box-shadow: 0 0 10px 2px;
}
.score{
position:fixed;
margin-left: 0;
top: 0;
color: white;
font-size: 75px;
font-family: 'Piedra', cursive;
text-shadow: 5px 5px 5px #000000;
}
#category{
  position:fixed;
  top: 3%;
  left:0;
  color: white;
  font-size: 25px;
}
#difficulty{
  position:fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 25px;
}

/* --------Log in page------------------ */
.sign {
position:fixed;
top: 0;
color: white;
font-size: 50px;
}

.un{
  align-items: center; 
}
label{
  color:white;
  text-shadow: 5px 5px 5px #000000;
  font-family: 'Open Sans', sans-serif;
  
}
#signIn{
position:fixed;
right: 10;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: black;
}
.Username{
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 5px 5px 5px #000000;
  font-family: 'Piedra', cursive;
  font-size: 75px;
}
.title{
position:fixed;
top: 0;
color: white;
font-size: 100px;
font-family: 'Piedra', cursive;
text-shadow: 5px 5px 5px #000000;
}

h5{
position: fixed; 
top: 20px;
color: white;
text-shadow: 5px 5px 5px #000000;
margin-top: 175px;
font-size: 30px;
font-family: 'Open Sans', sans-serif;

}
